<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Voice</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
  </head>
  <body>
    <header>
    <h1>Voice Command</h1>
    </header>

    <h3>Enter the arduino's URL here</h3>
    <p>
      <input type="text" name="url_input" id="url_input">
      <button id="save">Save</button>
    </p>


<!--button for 'start/stop recording'-->
    <p>
        <button id="btnStart">
            <img src="/static/images/play.png" width="24" height="24">
        </button>
    </p>


<!-- for holding commands and arduino responses-->
    <br><br>
    <div id="console">

    </div>
    <script src="{{url_for('static', filename = 'logic.js')}}"></script>

  </body>
</html>